global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: web
    static_configs:
      - targets: [{% for host in groups['web'] %}"{{ host }}:9100"{% if not loop.last %}, {% endif %}{% endfor %}]

  - job_name: monitor
    static_configs:
      - targets: [{% for host in groups['monitor'] %}"{{ host }}:9100"{% if not loop.last %}, {% endif %}{% endfor %}]
