[defaults]
remote_user = ec2-user
private_key_file = ~/.ssh/instance_key.pem
host_key_checking = False
inventory = inventory.ini
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ForwardAgent=yes
